{% extends "base.html" %}
{% load staticfiles %}

{% block title %}公司简介{% endblock %}

{% block css %}
<style>
body{height: 100%}
</style>
{% endblock %}
{% block body %}
<!--正文上方广告-->
<div class="metFlash innerk">
    <div class="flash">
        <div class="flexslider flexslider_flash flashfld">
            <ul class="slides list-none">
                <li style="display: list-item;">
                    <a href="" target="_blank" title=""><img src="/static/images/ad.jpg" alt="" width="1000" height="250"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="clear"></div>

<div class="sidebar innerk">
    <!--左边内容-->
    <div class="sb_nav fl">
        <h3 class="sidebarTitle">走进我们</h3>
        <div class="sbNavOne" id="sidebar" data-csnow="6" data-class3="0" data-jsok="2">
            <dl class="list-none navnow">
                <dt id="part2_6" class="on">
                    <a href="../company/company6.html" class="zm"><span>公司简介</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id="part2_7">
                    <a href="../company/company7.html" class="zm"><span>品牌承诺</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id="part2_8">
                    <a href="../company/company8.html" class="zm"><span>企业文化</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id="part2_9">
                    <a href="../company/company9.html" class="zm"><span>荣誉历程</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id="part2_10">
                    <a href="../company/company10.html" class="zm"><span>联系我们</span></a>
                </dt>
            </dl>
            <div class="clear"></div>
        </div>

        <h3 class="sidebarTitle line">联系方式</h3>
        <div class="sbNavTwo editor">
            <span style="line-height: 2;">
                <strong>地址：</strong>四川省成都市高新开发区
            </span>
            <div><strong>电话：</strong>028-8888888 </div>
            <div><strong>手机：</strong>13888888888</div>
            <div><strong>联系人：</strong>陈先生</div>
            <div><strong>邮政编号：</strong>610000</div>
            <div><strong>网站：</strong>www.wangzhan.com</div>
            <div><strong>邮箱：</strong>wangzhan@163.com</div>
            <div class="clear"></div>
        </div>
    </div>
    
    <!--右边内容-->
    <div class="sb_box fr">
	    <h3 class="boxTitle">
			<div class="position">当前位置：<a href="../" title="首页">首页</a> &gt; <a href="../company/company6.html">走进我们</a> &gt; <a href="../company/company6.html">公司简介</a></div>
		</h3>
		<div class="clear"></div>

        <div class="editor active" id="showtext">
		    <div><div>
	<span style="color:#008000;"><strong><img src="/static/images/2010.jpg" style="width: 250px; height: 210px; margin: 9px; float: right;" alt="图片关键词">&nbsp; &nbsp; &nbsp;最具发展潜力的民族品牌</strong></span></div>
<div>
	&nbsp; &nbsp; &nbsp; 早在2001年市场上一些外墙开始使用真石漆，这对很多业内人士，包括涂料界大鳄们而言，只是“外墙装饰多了一种选择罢了”。但当时只是一名普通油漆工的王鹏却将其定义为外墙装饰未来的主流与主导。12年后的今天，环保涂料真石漆，环保涂料，王鹏创立的环保涂料不仅成为真石漆的代名词，更成为中国建筑涂料界最具发展潜力的民族品牌，年销售额突破2亿元。</div>
<div>
	&nbsp;</div>
<div>
	<span style="color:#008000;"><strong>&nbsp; &nbsp; &nbsp;价值典范</strong></span></div>
<div>
	&nbsp; &nbsp; &nbsp; 不做低档，只做精品，不卖产品，只卖成品。环保涂料第一聚焦领域不是真石漆，而是建筑外饰面。客户的需求与渴望始终是我们创新思维的核心，环保涂料核心定位绝对不是一个单一的优质原材料生产商，而是以精品建筑的参与者向客户提供最具价值的服务，从Copy(仿真度)、Color(色差控制)Clean(防污措施)Continued(使用寿命)Cost(综合成本)五个维度深度参与，从而以完美的外饰面效果彰显建筑的品味、楼盘的档次、物业的价值。环保涂料首创的5C精品建筑外饰面保障体系，成为了行业价值典范的杰出代表。</div>
<div>
	&nbsp; &nbsp; &nbsp;&nbsp;</div>
<div>
	<span style="color:#008000;"><strong>&nbsp; &nbsp; &nbsp;首屈一指</strong></span></div>
<div>
	&nbsp; &nbsp; &nbsp; 2013年环保涂料以令行业咋舌的姿态，第一家将真石漆搬上了央视这个在中国最热的媒体，同时，环保涂料亚洲真石漆最大研发生产基地在当地政府鼎力支持下，按计划顺利进行，设计日产能1000吨，年产能30万吨。这一切充分显明了环保涂料立志成为首屈一指的建筑外饰面仿石解决方案的供应商的信念与决心。届时我们热诚欢迎全国各地客户到公司实地考察，对环保涂料公司及产品、服务及价值进行全面、深入、细致的了解。期待与您建立长期共赢的合作关系。</div>
<div>
	&nbsp;</div>
</div>
			<div class="clear"></div>
		</div>

    </div>
    
    <div class="clear"></div>
    
</div>
{% endblock %}
