{% extends "base.html" %}
{% load staticfiles %}

{% block title %}公司简介{% endblock %}

{% block css %}
<style>
body{height: 100%}
</style>
{% endblock %}
{% block body %}
<!--正文上方广告-->
<div class="metFlash innerk">
    <div class="flash">
        <div class="flexslider flexslider_flash flashfld">
            <ul class="slides list-none">
                <li style="display: list-item;">
                    <a href="" target="_blank" title=""><img src="/static/images/ad.jpg" alt="" width="1000" height="250"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="clear"></div>

<div class="sidebar innerk">
    <!--左边内容-->
    <div class="sb_nav fl">
        <h3 class="sidebarTitle">联系我们</h3>
        <div class="sbNavOne" id="sidebar" data-csnow="6" data-class3="0" data-jsok="2">
            <dl class="list-none navnow">
                <dt id="part2_6" class="on">
                    <a href="../company/company6.html" class="zm"><span>强面涂料</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id="part2_7">
                    <a href="../company/company7.html" class="zm"><span>功能涂料</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id="part2_8">
                    <a href="../company/company8.html" class="zm"><span>环保涂料</span></a>
                </dt>
            </dl>
            <div class="clear"></div>
        </div>

        <h3 class="sidebarTitle line">联系方式</h3>
        <div class="sbNavTwo editor">
            <span style="line-height: 2;">
                <strong>地址：</strong>四川省成都市高新开发区
            </span>
            <div><strong>电话：</strong>028-8888888 </div>
            <div><strong>手机：</strong>13888888888</div>
            <div><strong>联系人：</strong>陈先生</div>
            <div><strong>邮政编号：</strong>610000</div>
            <div><strong>网站：</strong>www.wangzhan.com</div>
            <div><strong>邮箱：</strong>wangzhan@163.com</div>
            <div class="clear"></div>
        </div>
    </div>
    
    <!--右边内容-->
    <div class="sb_box fr">
    <h3 class="boxTitle">
        <div class="position">
            当前位置：
            <a href="../" title="首页">
                首页
            </a>
            &gt;
            <a href="../company/company6.html">
                走进我们
            </a>
            &gt;
            <a href="../company/company10.html">
                联系我们
            </a>
        </div>
    </h3>
    <div class="clear">
    </div>
    <div class="editor active" id="showtext">
        <div>
            <p style="margin-left: 40px;">
                <span style="line-height: 2;">
                    <strong>
                        <img src="/static/images/contact_us.jpg" style="width: 200px; height: 167px; margin: 43px 70px; float: left;"
                        alt="图片关键词">
                    </strong>
                </span>
            </p>
            <p style="margin-left: 40px;">
                &nbsp;
            </p>
            <p style="margin-left: 40px;">
                &nbsp;
            </p>
            <p style="margin-left: 40px;">
                <span style="color:#008000;">
                    <strong style="line-height: 2;">
                        地址：
                    </strong>
                </span>
                <span style="line-height: 2;">
                    四川省成都市高新开发区
                </span>
            </p>
            <div style="margin-left: 40px;">
                <span style="color:#008000;">
                    <strong>
                        电话：
                    </strong>
                </span>
                028-8888888
            </div>
            <div style="margin-left: 40px;">
                <span style="color:#008000;">
                    <strong>
                        手机：
                    </strong>
                </span>
                13888888888
            </div>
            <div style="margin-left: 40px;">
                <span style="color:#008000;">
                    <strong>
                        联系人：
                    </strong>
                </span>
                陈先生
            </div>
            <div style="margin-left: 40px;">
                <span style="color:#008000;">
                    <strong>
                        邮政编号：
                    </strong>
                </span>
                610000
                <br>
                <span style="color:#008000;">
                    <strong>
                        网站：
                    </strong>
                </span>
                www.wangzhan.com
                <br>
                <span style="color:#008000;">
                    <strong>
                        邮箱：
                    </strong>
                </span>
                wangzhan@163.com
            </div>
            <div style="margin-left: 40px;">
                &nbsp;
            </div>
            <div style="margin-left: 40px;">
                &nbsp;
            </div>
            <div style="margin-left: 40px;">
                &nbsp;
            </div>
            <div style="margin-left: 40px;">
                &nbsp;
            </div>
            <div style="margin-left: 40px;">
                &nbsp;
            </div>
            <div style="margin-left: 40px;">
                &nbsp;
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
</div>
    
    <div class="clear"></div>
    
</div>
{% endblock %}
