<footer id="page_footer">
    <div class="metFoot innerk">
        <div class="footLink">
            <h3>友情链接：</h3>
            <div class="WBtxt">
                <ul class="list-none">
                    <li><a href="" target="_blank" title="">力士乐本下</a></li>
                    <li><a href="" target="_blank" title="">本特利光洋</a></li>
                    <li><a href="" target="_blank" title="">中国涂料网</a></li>
                    <li><a href="" target="_blank" title="">京计器</a></li>
                    <li><a href="" target="_blank" title="">中国油漆</a></li>
                    <li><a href="" target="_blank" title="">涂料网</a></li>
                    <li><a href="" target="_blank" title="">涂料行业</a></li>
                    <li><a href="" target="_blank" title="">油研</a></li>
                    <li><a href="" target="_blank" title="">中国油漆网</a></li>
                    <li><a href="" target="_blank" title="">中国涂料信息网</a></li>
                    <li><a href="" target="_blank" title="">纯色涂料</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="foot-nav">
            <a href="company/company6.html" title="公司简介">公司简介</a><span>|</span>
            <a href="company/company8.html" title="企业文化">企业文化</a><span>|</span>
            <a href="news/news_11_1.html" title="公司新闻">公司新闻</a><span>|</span>
            <a href="services/services20.html" title="星级服务">星级服务</a><span>|</span>
            <a href="joins/" title="在线加盟">在线加盟</a><span>|</span>
            <a href="order/" title="在线订购">在线订购</a><span>|</span>
            <a href="join/join27.html" title="联系我们">联系我们</a>
        </div>
		<div class="foot-text">
			<p>环保涂料 版权所有 2008-2014 川ICP备8888888 </p>
            <p>地址:四川省成都市高新开发区 电话:028-8888888 E-mail:XXX@163.com</p>
		</div>
	</div>
</footer>
