{% load staticfiles %}
<!--导航开始-->
<header id="page_header">
    <div class="navbg innerk pr">
        <div class="logo fl">
            <a href="" id="web_logo" target="_self">
                <img src='{% static "images/logo.png" %}' alt="环保涂料" style="margin:55px 0px 0px 58px;">
            </a>
        </div>
        <nav class="metNav fl">
            <ul class="list-none">
                <li id="nav_10001" style="width: 91px; border-top-left-radius: 5px;" class="navdown myCorner" data-corner="tl 5px">
                    <a href="/" class="nav"><span>首页</span></a>
                </li>
                <li class="line"></li>
                <li id="nav_1" style="width:91px;" class="">
                    <a href="/about_us/"  class="hover-none nav"><span>走进我们</span></a>
                    <dl style="width: 91px; display: none;">
                        <dd><a href="/about_us/" >公司简介</a></dd>
                        <dd><a href="/about_us/" >品牌承诺</a></dd>
                        <dd><a href="/about_us/" >企业文化</a></dd>
                        <dd><a href="/about_us/" >荣誉历程</a></dd>
                    </dl>
                </li>
                <li class="line"></li>
                <li id="nav_2" style="width:91px;" class="">
                    <a href="/news/"  class="hover-none nav"><span>新闻资讯</span></a>
                    <dl style="width: 91px; display: none;">
                        <dd><a href="" >公司新闻</a></dd>
                        <dd><a href="" >行业资讯</a></dd>
                        <dd><a href="" >政策法规</a></dd>
                    </dl>
                </li>
                <li class="line"></li>
                <li id="nav_3" style="width:91px;" class="">
                    <a href="/products/" 0="" class="hover-none nav"><span>产品中心</span></a>
                    <dl style="width: 91px; display: none;">
                        <dd><a href="" >墙面涂料</a></dd>
                        <dd><a href="" >地坪涂料</a></dd>
                        <dd><a href="" >功能涂料</a></dd>
                        <dd><a href="" >保温涂料</a></dd>
                        <dd><a href="" >装饰涂料</a></dd>
                    </dl>
                </li>
                <li class="line"></li>
                <li id="nav_4" style="width:90px;" class="">
                    <a href="" 0=""  class="hover-none nav"><span>服务中心</span></a>
                    <dl style="width: 90px; display: none;">
                        <dd><a href="" >星级服务</a></dd>
                        <dd><a href="" >涂料色彩</a></dd>
                        <dd><a href="" >技术标准</a></dd>
                        <dd><a href="" >营销网络</a></dd>
                        <dd><a href="" >在线订购</a></dd>
                    </dl>
                </li>
                <li class="line"></li>
                <li id="nav_5" style="width:90px;" class="">
                    <a href="" 0=""  class="hover-none nav"><span>加入我们</span></a>
                    <dl style="width: 90px; display: none;">
                        <dd><a href="" >招商加盟</a></dd>
                        <dd><a href="/message/" >留言咨询</a></dd>
                    </dl>
                </li>
                <li class="line"></li>
                <li id="nav_10" style="width: 90px; border-top-right-radius: 5px;" class="myCorner" data-corner="tr 5px">
                    <a href="/contact_us/" class="hover-none nav"><span>联系我们</span></a>
                </li>
            </ul>
        </nav>
        <div class="clear"></div>
     </div>     
</header>
<!--导航结束-->
