{% extends "base.html" %}
{% load staticfiles %}

{% block title %}公司简介{% endblock %}

{% block css %}
<style>
body{height: 100%}
</style>
{% endblock %}
{% block body %}
<!--正文上方广告-->
<div class="metFlash innerk">
    <div class="flash">
        <div class="flexslider flexslider_flash flashfld">
            <ul class="slides list-none">
                <li style="display: list-item;">
                    <a href="" target="_blank" title=""><img src="/static/images/ad.jpg" alt="" width="1000" height="250"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="clear"></div>

<div class="sidebar innerk">
    <!--左边内容-->
    <div class="sb_nav fl">
        <h3 class="sidebarTitle">走进我们</h3>
        <div class="sbNavOne" id="sidebar" data-csnow="6" data-class3="0" data-jsok="2">
            <dl class="list-none navnow">
                <dt id="part2_6" class="on">
                    <a href="../company/company6.html" class="zm"><span>公司新闻</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id="part2_7">
                    <a href="../company/company7.html" class="zm"><span>行业资讯</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id="part2_8">
                    <a href="../company/company8.html" class="zm"><span>政策法规</span></a>
                </dt>
            </dl>
            <div class="clear"></div>
        </div>

        <h3 class="sidebarTitle line">联系方式</h3>
        <div class="sbNavTwo editor">
            <span style="line-height: 2;">
                <strong>地址：</strong>四川省成都市高新开发区
            </span>
            <div><strong>电话：</strong>028-8888888 </div>
            <div><strong>手机：</strong>13888888888</div>
            <div><strong>联系人：</strong>陈先生</div>
            <div><strong>邮政编号：</strong>610000</div>
            <div><strong>网站：</strong>www.wangzhan.com</div>
            <div><strong>邮箱：</strong>wangzhan@163.com</div>
            <div class="clear"></div>
        </div>
    </div>
    
    <!--右边内容-->
    <div class="sb_box fr">
	    <h3 class="boxTitle">
			<div class="position">当前位置：<a href="../" title="首页">首页</a> &gt; <a href="../news/">新闻资讯</a> &gt; <a href="../news/news_13_1.html">政策法规</a></div>
		</h3>
		<div class="clear"></div>

        <div class="active" id="shownews">
            <h1 class="title">国务院《绿色建筑行动方案》助力美丽中国建设</h1>
            <div class="editor"><div><div>
	&nbsp; &nbsp; &nbsp; 在城市建设中，面临最重要的问题是，如何根据生态文明的要求进行规划和设计，并注重自然规律，让建筑物更好地与自然地理、地貌相和谐，让城市空间布局更好地体现资源节约和环境保护的精神。正如1940年意大利建筑家提出的，“建筑应成为自然的一个组成部分”。&nbsp;</div>
<div>
	&nbsp;</div>
<div>
	&nbsp; &nbsp; &nbsp; 未来，城镇新建建筑将严格落实强制性节能标准。新年伊始，国务院办公厅转发国家发展改革委和住房城乡建设部《绿色建筑行动方案》(以下简称《方案》)，要求到2015年末，20%的城镇新建建筑达到绿色建筑标准要求。在既有建筑节能改造方面，《方案》要求，到2020年末，基本完成北方采暖地区有改造价值的城镇居住建筑节能改造。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp; &nbsp; &nbsp; 除了强化目标责任和加大政策激励外，《方案》还明确，将于2013年完成《绿色建筑评价标准》的修订工作，完善住宅、办公楼、商场、宾馆的评价标准，出台学校、医院、机场、车站等公共建筑的评价标准。尽快制(修)订绿色建筑相关工程建设、运营管理、能源管理体系等标准，编制绿色建筑区域规划技术导则和标准体系。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp; &nbsp; &nbsp; “《方案》的推出意味着未来将从国家层面推行绿色建筑，对减少能源消耗，推动节能型、绿色型和低碳型建筑的发展意义重大。”国务院发展研究中心社会发展研究部研究员周宏春在接受本报记者采访时表示，随着我国工业化和城镇化进一步发展，建筑能耗预计将增加到35%，与发达国家的比例大致相当。推行绿色建筑，从规划、设计就开始注重绿色建筑或节能建筑，将对我国建设节能型社会及减少能源消耗带来很大影响。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp; &nbsp; &nbsp; 国家一级注册建筑师、中国绿色建筑设计研究院院长马平对记者表示，国务院办公厅在新年第一天签发《方案》，让大家看到了国家建设资源节约型、环境友好型社会的决心。</div>
<div>
	&nbsp;</div>
<div>
	&nbsp; &nbsp; &nbsp; 我国建筑能源利用效率仍有较大提升空间</div>
<div>
	&nbsp;</div>
<div>
	&nbsp; &nbsp; &nbsp; 绿色建筑，是在建筑的全寿命期内，最大限度地节约资源、保护环境和减少污染物排放，为人们提供健康、适用和高效的使用空间，与自然和谐共生的建筑。“十一五”期间，我国新建建筑节能标准执行率大幅度提高，但也面临一些比较突出的问题：城乡建设粗放;能源资源消耗高、利用效率低;重规模轻效率、重外观轻品质、重建设轻管理;建筑使用寿命远低于设计使用年限等。</div>
<div>
	&nbsp;</div>
<div id="metinfo_additional"></div></div><div class="clear"></div></div>
			<div class="met_hits">&nbsp;&nbsp;更新时间：2013-11-25 15:51:52&nbsp;&nbsp;【<a href="javascript:window.print()">打印此页</a>】&nbsp;&nbsp;【<a href="javascript:self.close()">关闭</a>】</div>
            
        </div>

    </div>
    
    <div class="clear"></div>
    
</div>
{% endblock %}
