{% extends "base.html" %}
{% load staticfiles %}

{% block title %}公司简介{% endblock %}

{% block css %}
<style>
body{height: 100%}
</style>
{% endblock %}
{% block body %}
<!--正文上方广告-->
<div class="metFlash innerk">
    <div class="flash">
        <div class="flexslider flexslider_flash flashfld">
            <ul class="slides list-none">
                <li style="display: list-item;">
                    <a href="" target="_blank" title=""><img src="/static/images/ad.jpg" alt="" width="1000" height="250"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="clear"></div>

<div class="sidebar innerk">
    <!--左边内容-->
    <div class="sb_nav fl">
        <h3 class="sidebarTitle">产品中心</h3>
        <div class="sbNavOne" id="sidebar" data-csnow="6" data-class3="0" data-jsok="2">
            <dl class="list-none navnow">
                <dt id="part2_6" class="on">
                    <a href="../company/company6.html" class="zm"><span>强面涂料</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id="part2_7">
                    <a href="../company/company7.html" class="zm"><span>功能涂料</span></a>
                </dt>
            </dl>
            <dl class="list-none navnow">
                <dt id="part2_8">
                    <a href="../company/company8.html" class="zm"><span>环保涂料</span></a>
                </dt>
            </dl>
            <div class="clear"></div>
        </div>

        <h3 class="sidebarTitle line">联系方式</h3>
        <div class="sbNavTwo editor">
            <span style="line-height: 2;">
                <strong>地址：</strong>四川省成都市高新开发区
            </span>
            <div><strong>电话：</strong>028-8888888 </div>
            <div><strong>手机：</strong>13888888888</div>
            <div><strong>联系人：</strong>陈先生</div>
            <div><strong>邮政编号：</strong>610000</div>
            <div><strong>网站：</strong>www.wangzhan.com</div>
            <div><strong>邮箱：</strong>wangzhan@163.com</div>
            <div class="clear"></div>
        </div>
    </div>
    
    <!--右边内容-->
    <div class="sb_box fr">
        <h3 class="boxTitle">
            <div class="position">
                当前位置：
                <a href="../" title="首页">
                    首页
                </a>
                &gt;
                <a href="../products/">
                    产品中心
                </a>
                &gt;
                <a href="../products/products_18_1.html">
                    装饰涂料
                </a>
            </div>
        </h3>
        <div class="clear">
        </div>
        <div class="active" id="showproduct">
            <h1 class="title">
                岩片漆
            </h1>
            <dl class="pshow">
                <dt style="width: 300px;">
                    <span class="info_img" id="imgqwe">
                        <a title="查看大图" target="_blank">
                            <img src="/static/images/p1.jpg" alt="岩片漆" title="岩片漆"
                            width="300" height="250">
                        </a>
                    </span>
                </dt>
                <dd style="width: 408px;">
                    <ul class="list-none">
                        <li style="padding-left: 63px;">
                            <span>
                                产品型号
                            </span>
                            ST600A
                            <div style="clear:both;">
                            </div>
                        </li>
                        <li style="padding-left: 63px;">
                            <span>
                                包装规格
                            </span>
                            25kg/桶
                            <div style="clear:both;">
                            </div>
                        </li>
                        <li style="padding-left: 63px;">
                            <span>
                                主要成分
                            </span>
                            乳液、天然石英砂、无机颜料、助剂等
                            <div style="clear:both;">
                            </div>
                        </li>
                        <li style="padding-left: 63px;">
                            <span>
                                干燥时间
                            </span>
                            表干≤4h（25℃，湿度≤75%）
                            <div style="clear:both;">
                            </div>
                        </li>
                        <li style="padding-left: 99px;">
                            <span>
                                初期干燥抗裂性
                            </span>
                            无裂纹
                            <div style="clear:both;">
                            </div>
                        </li>
                    </ul>
                </dd>
            </dl>
            <div style="clear:both;">
            </div>
            <h3 class="ctitle">
                <span>
                    详细描述
                </span>
                <div class="clear">
                </div>
            </h3>
            <div class="editor">
                <div>
                    <div>
                        &nbsp; &nbsp;
                        <span style="color:#008000;">
                            <strong>
                                &nbsp;腻子施工：
                            </strong>
                        </span>
                        基层检查处理好后先满批1道粗腻子，表干前大面用刮尺沿水平方向搓平，阴阳角要用方管靠直。待粗腻子完全干燥后再满批1道细腻子，表干后用腻子打磨机选择400目砂纸磨平，用2米靠尺检查，误差率应≤3mm，完全干燥后应用清水养护3-7天。
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        &nbsp; &nbsp; &nbsp;
                        <span style="color:#008000;">
                            <strong>
                                底涂施工：
                            </strong>
                        </span>
                        封固底油搅拌均匀后可直接使用，如需调节粘稠度，要由专人按固定比例加水稀释，其中水性底油稀释比例不宜超过漆用量的40%，油性底油一般不建议稀释。封固底油一般采用辊筒滚涂施工1道，阴阳转角缝隙处应用羊毛刷辅助施工，要求厚薄均匀一致，无漏涂透底等，理论耗量约0.1kg/㎡。
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        &nbsp; &nbsp;
                        <span style="color:#008000;">
                            &nbsp;
                            <strong>
                                面涂施工：
                            </strong>
                        </span>
                        真石漆搅拌均匀后可直接使用，如需调节粘稠度，可适当加水稀释，稀释比例不宜超过漆用量的5%；天然真石漆一般采用真石漆喷枪喷涂2道，间隔时间12h以上，理论耗量约3.5-4.5kg/㎡，要求纹理饱满一致，无漏喷透底等。
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        &nbsp; &nbsp;
                        <span style="color:#008000;">
                            <strong>
                                &nbsp;罩面施工：
                            </strong>
                        </span>
                        罩光面油搅拌均匀后可直接使用，如需调节粘稠度，可适当加水稀释，稀释比例不宜超过漆用量的20%，油性面油一般不建议稀释。罩光面油一般采用羊毛辊筒滚涂施工1-2道，间隔时间6h以上，阴阳转角缝隙处应用羊毛刷辅助施工，要求厚薄均匀一致，无漏涂、透底等，理论耗量约0.15-0.25kg/㎡。
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div id="metinfo_additional">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="met_hits">
                &nbsp;&nbsp;更新时间：2013-11-25 16:08:16&nbsp;&nbsp;【
                <a href="javascript:window.print()">
                    打印此页
                </a>
                】&nbsp;&nbsp;【
                <a href="javascript:self.close()">
                    关闭
                </a>
                】
            </div>
        </div>
    </div>
    
    <div class="clear"></div>
    
</div>
{% endblock %}
